* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: white;
}

body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  background: black;
  color: white;
  height: 15vh;
  font-family: "Rubik Marker Hatch", cursive;
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 38px;
  line-height: 50px;
  position: absolute;
  left: 20px;
}

.search {
  margin: 25px 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

input {
  width: 338px;
  height: 37px;
  display: flex;
  align-items: center;
}

button {
  background: black;
  color: white;
  width: 93px;
  height: 37px;
  transition: 0, 5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

button:hover {
  background: white;
  color: black;
}

main {
  font-size: 22px;
  line-height: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 65vh;
  padding: 20px 0;
  /* max-height: 1000px; */
}

section {
  width: 440px;
  height: 230px;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 4px auto;
  border-radius: 25px;
}

img {
  width: 190px;
  height: 200px;
  background: gray;
}

h2 {
  color: white;
}

.personagem {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

footer {
  position: relative;
  bottom: 0;
  background-color: black;
  font-size: 28px;
  color: white;
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.social img {
  width: 150px;
  height: 45px;
  border-radius: 15px;
  display: flex;
}

.none {
  display: none;
}

@media (max-width: 800px) and (min-width: 480px) {
  header,
  footer {
    height: 10vh;
  }

  header h1 {
    font-size: 28px;
  }

  input {
    width: 260px;
  }

  button {
    width: 60px;
  }

  button:active {
    background: white;
    color: black;
  }

  main {
    /* min-height: none; */
    font-size: 20px;
  }

  section {
    width: 320px;
    height: 210px;
  }

  img {
    width: 120px;
    height: 170px;
  }

  footer {
    flex-direction: row;
  }

  .social img {
    width: 100px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  header,
  footer {
    height: 10vh;
  }

  header h1 {
    font-size: 25px;
  }

  input {
    width: 240px;
  }

  button {
    width: 60px;
  }

  button:active {
    background: white;
    color: black;
  }

  main {
    font-size: 18px;
  }

  section {
    width: 300px;
  }

  img {
    height: 150px;
    width: 120px;
  }

  footer {
    font-size: 18px;
    flex-direction: row;
  }

  .social img {
    height: 30px;
    width: 86px;
  }
}
